<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Som Blood Donation System</title>
    <!-- Fonts Cdn  -->
    <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <!-- Css Link -->
    <link rel="stylesheet" href="../assests/css/home.css" />
  </head>
  <body>
    <header class="header__wrapper">
      <div class="overlay has-fade"></div>
      <nav class="flex jc-sb ai-c">
        <a class="logo" href="/">Som Blood Donation</a>

        <a href="#" id="btnHumberger" class="header__toggle hide-for-desktop">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <div class="header__links hide-for-mobile">
          <a href="#">Home</a>
          <a href="#">How to donate</a>
          <a href="#">About us</a>
          <a href="#">Donate</a>
        </div>

        <div class="log__reg hide-for-mobile">
          <a href="#">Sign In</a>
          <a href="#">Sign Up</a>
        </div>
      </nav>

      <div class="header__menu flex fd-c has-fade">
        <a href="#">Home</a>
        <a href="#">How to donate</a>
        <a href="#">About us</a>
        <a href="#">Donate</a>

        <div class="menu__reg__lg flex fd-c">
          <a href="#">Sign In</a>
          <a href="#">Sign Up</a>
        </div>
      </div>
    </header>

    <section class="carousel__wrapper">
      <div class="image__wrapper">
        <!-- <a href="#"><img src="https://picsum.photos/650/500/?random=1" /></a>
        <a href="#"><img src="https://picsum.photos/650/500/?random=2" /></a>
        <a href="#"><img src="https://picsum.photos/650/500/?random=3" /></a>
        <a href="#"><img src="https://picsum.photos/650/500/?random=4" /></a>
        <a href="#"><img src="https://picsum.photos/650/500/?random=5" /></a> -->
      </div>

      <div class="buttons__wrapper">
        <div class="left__right__btn">
          <a class="arrow arrow-l" href="#">&#10094;</a>
          <a class="arrow arrow-r" href="">&#10095;</a>
        </div>

        <div class="dot__wrapper">
          <!-- <a class="img-dot img-dot1" href="#"></a>
          <a class="img-dot img-dot2" href="#"></a>
          <a class="img-dot img-dot3" href="#"></a>
          <a class="img-dot img-dot4" href="#"></a>
          <a class="img-dot img-dot5" href="#"></a> -->
        </div>
      </div>
    </section>

    <!-- js link -->
    <script src="../js/main.js"></script>
  </body>
</html>
