<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>How to donate</title>
    <!-- css links -->
    <link rel="stylesheet" href="../assests/css/globals.css" />
    <link rel="stylesheet" href="../assests/css/header.css" />
    <link rel="stylesheet" href="../assests/css/roles.css" />
    <!-- css links -->
  </head>
  <body>
    <header class="header__wrapper paddingX">
      <div class="overlay has-fade"></div>
      <nav class="flex jc-sb ai-c">
        <a class="logo" href="/views/home.html">Som Blood Donation</a>

        <a href="#" id="btnHumberger" class="header__toggle hide-for-desktop">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <div class="header__links hide-for-mobile">
          <a href="/views/home.html">Home</a>
          <a href="/views/roles.html">How to donate</a>
          <a href="#">About us</a>
          <a href="#">Donate</a>
        </div>

        <div class="log__reg hide-for-mobile">
          <a href="#">Sign In</a>
          <a href="#">Sign Up</a>
        </div>
      </nav>

      <div class="header__menu flex fd-c has-fade">
        <a href="/views/home.html">Home</a>
        <a href="/views/roles.html">How to donate</a>
        <a href="#">About us</a>
        <a href="#">Donate</a>

        <div class="menu__reg__lg flex fd-c">
          <a href="#">Sign In</a>
          <a href="#">Sign Up</a>
        </div>
      </div>
    </header>

    <section class="roles__section">
      <h2>How to donate and Eligibility Criteria</h2>
      <div class="roles__wrapper">
        <div class="role__wrap">
          <span>Age</span>
          <p>
            You must be at least 17 years old to donate to the general blood, or
            older than 17, if allowed by state law. There is no upper age limit
            for blood donation as long as you are well with no restrictions or
            limitations to your activities. Persons under the age of 17 may,
            however, donate blood for their own use, in advance of scheduled
            surgery or in situations where their blood has special medical value
            for a particular patient such as a family member.
          </p>
        </div>

        <div class="role__wrap">
          <span>Weight</span>
          <p>
            You must weigh at least 110 lbs to be eligible for blood donation
            for your own safety.
          </p>
        </div>

        <div class="role__wrap">
          <span>Health</span>
          <p>
            The person donating blood must be healthy means if the person have
            cancer or aids, heart attack and other risky diseases it's not
            allowed to donate blood due to his own healthy and the health of the
            others.
          </p>
        </div>

        <div class="role__wrap role__wrap__foot">
          <h2 class="role__wrap__foot__title">
            How to make an appointment to donate blood
          </h2>
          <div>
            <span>
              .First you need to have an account as donor to make donation.
            </span>
            <span>
              .Second you need fullfil the espangibispanty criteria to make
              donation.
            </span>
            <span>.Also you need to the donation page</span>
            <span>
              .After you go to donation page the make an appointment to donate
              blood.
            </span>
          </div>
        </div>
      </div>
    </section>

    <section class="blood__type__section">
      <h2>Facts About Different Blood Types</h2>
      <div class="blood__type__wrapper">
        <div class="blood__type__card">
          <div class="blood__type__desc">
            <span>A+ Facts</span>
            <div class="blood__type__content">
              <span
                >.30% of the population have A+ blood the second-most common
                type, so your donations are always in demand.</span
              >

              <span>.You can give blood to patients with types A+ and AB+</span>

              <span>.You can receive blood from A+, A-, O+ and O- donors</span>
            </div>
          </div>
        </div>

        <div class="blood__type__card">
          <div class="blood__type__desc">
            <span>B- Facts</span>
            <div class="blood__type__content">
              <span
                >.2% of the population have B- blood - a rare type, so your
                donations are always needed</span
              >

              <span
                >.You can give blood to patients with types B-, B+, AB- and
                AB+</span
              >

              <span>.You can only receive blood from B- and O- donors</span>
            </div>
          </div>
        </div>

        <div class="blood__type__card">
          <div class="blood__type__desc">
            <span>B- Facts</span>
            <div class="blood__type__content">
              <span
                >.1% of the population have AB- blood - the least common
                type</span
              >

              <span
                >.You can give blood to patients with types AB- and AB+</span
              >

              <span>.You can receive blood from AB-, A-, B- and O- donors</span>
            </div>
          </div>
        </div>

        <div class="blood__type__card">
          <div class="blood__type__desc">
            <span>O+ Facts</span>
            <div class="blood__type__content">
              <span
                >.39% of the population have O+ blood - the most common
                type</span
              >

              <span
                >.You can give blood to patients with any positive type</span
              >

              <span>.You can only receive blood from O+ and O- donors</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer class="footer__section marginX">
      <div class="footer__head">
        <div class="footer__image">
          <img
            src="../assests/images/Health professional team-pana.svg"
            alt=""
          />
        </div>

        <div class="footer__links">
          <span>Services</span>
          <div>
            <span>Home</span>
            <span>About us</span>
            <span>How to donate</span>
            <span>Donate</span>
          </div>
        </div>

        <div class="footer__info">
          <span>Som Blood Donation</span>
          <p>
            Somali Blood donation management system is a system that makes it
            easy for people to donate blood online in a timely manner for both
            donors and recipients. It's also a web-based system that can help
            with blood bag information during handling in the blood bank.
          </p>
        </div>
      </div>

      <div class="footer__foot">
        <div class="footer__line"></div>
        <span>© 2023 Som Blood Donation. All rights reserved</span>
      </div>
    </footer>

    <!-- js -->
    <script src="../js/Header.js"></script>
  </body>
</html>
