/* Flex */
.flex {
  display: flex;
}

.jc-sb {
  justify-content: space-between;
}

.jc-c {
  justify-content: center;
}

.ai-c {
  align-items: center;
}

.fd-c {
  flex-direction: column;
}

.noscroll {
  overflow: hidden;
}

/* Spacing */
.paddingX {
  padding: 0 24px;
}

.marginX {
  margin-inline: 42px;
}

/* Header Starts Here */
.header__wrapper {
  margin-block-start: 10px;
}

.logo {
  color: var(--dark-blue-color);
  font-size: var(--fs20);
  font-weight: 400;
  transition: color 300ms ease-in-out;
}

.logo:hover {
  color: var(--black-color);
}

.header__toggle span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: var(--dark-blue-color);
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}

.header__toggle span:not(:last-child) {
  margin-bottom: 5px;
}

.open span:first-child {
  transform: rotate(45deg);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:last-child {
  transform: rotate(-45deg);
}

.overlay {
  opacity: 0;
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(var(--dark-color), transparent);
}

nav {
  position: relative;
  padding-bottom: 1.0625rem;
}

.header__links a {
  position: relative;
  color: var(--dark-blue-color);
  font-size: var(--fs20);
  font-weight: 400;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -15px;
  background: linear-gradient(
    to right,
    var(--light-red-color),
    var(--dark-blue-color)
  );
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: var(--black-color);
}

.header__links a:hover::before {
  opacity: 1;
}

.log__reg {
  display: flex;
  align-items: center;
  gap: 20px;
  height: fit-content;
  width: fit-content;
}

.log__reg a:nth-child(1) {
  color: var(--dark-blue-color);
  font-size: var(--fs20);
  font-weight: 400;
  transition: color 300ms ease-in-out;
}

.log__reg a:nth-child(1):hover {
  color: var(--black-color);
}

.log__reg a:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-red-color);
  color: var(--white-color);
  padding: 10px 2.3125rem;
  border-radius: 20px;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

.log__reg a:nth-child(2):hover {
  opacity: 0.75;
}

/* Vissibilty */
@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }

  .marginX {
    margin-inline: 42px;
  }
}

/* Animations */
.has-fade {
  visibility: hidden;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 300ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fade-out 300ms ease-in-out forwards;
}

.header__menu {
  width: calc(100% - 3rem);
  background: var(--white-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  padding: 1.625rem;
  margin-top: 1.5rem;
  border-radius: 5px;
  z-index: 99;
}

.header__menu a {
  color: var(--dark-blue-color);
  padding: 0.625rem;
  font-weight: 400;
  transition: color 300ms ease-in-out;
}

.header__menu a:hover {
  color: var(--black-color);
}

.menu__reg__lg {
  display: flex;
  align-items: center;
}

.menu__reg__lg a:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-red-color);
  color: var(--white-color);
  padding: 10px 2.3125rem;
  border-radius: 20px;
  transition: opacity 300ms ease-in-out;
  cursor: pointer;
}

.menu__reg__lg a:nth-child(2):hover {
  opacity: 0.75;
}
/* HEADER ENDS HERE */

.profile_name__icon {
  display: flex;
  align-items: center;
  gap: 3px;
  text-transform: capitalize;
  color: var(--dark-blue-color);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  padding: 4px 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: var(--light-dark-color);
}

.icon i {
  margin-bottom: 3px;
  color: var(--dark-blue-color);
  transition: color 300ms ease-in-out;
}
