/* ROLES SECTION STARTS HERE */
.roles__section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--light-white-color);
  margin-inline: 24px;
  margin-block-start: 35px;
}

.roles__section h2 {
  color: var(--black-color);
  font-size: var(--fs-16);
  font-weight: bold;
  text-align: center;
}

.roles__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.role__wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.role__wrap span {
  color: var(--black-color);
  font-size: var(--fs20);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
}

.role__wrap p {
  color: var(--black-color);
  font-size: var(--fs-14);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 3px;
  text-align: left;
}

.role__wrap__foot {
  margin-block-start: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.role__wrap .role__wrap__foot__title {
  color: var(--black-color);
  font-size: var(--fs-14);
  font-weight: bold;
  text-align: center;
}

.role__wrap__foot div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.role__wrap__foot div span {
  color: var(--black-color);
  font-size: var(--fs-14);
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.7;
  text-align: left;
}

/* TABLET ROLES SECTION */
@media (min-width: 37.5em) {
  .roles__section h2,
  .role__wrap .role__wrap__foot__title {
    font-size: var(--fs20);
  }

  .role__wrap p,
  .role__wrap__foot div span {
    font-size: var(--fs-16);
  }
}

/* DESKTOP ROLES SECTION */
@media (min-width: 62.5em) {
  .roles__section {
    margin-block-start: 60px;
  }

  .roles__section h2,
  .role__wrap .role__wrap__foot__title,
  .role__wrap span {
    font-size: var(--fs20);
  }

  .role__wrap p,
  .role__wrap__foot div span {
    font-size: var(--fs20);
    letter-spacing: 4px;
  }
}
/* ROLES SECTION ENDS HERE */

/* BLOOD TYPE SECTION STARTS HERE */
.blood__type__section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: transparent;
  margin-inline: 24px;
  margin-block-start: 35px;
  margin-block-end: 30px;
}

.blood__type__section h2 {
  color: var(--black-color);
  font-size: var(--fs-14);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}

.blood__type__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 31px;
}

.blood__type__card {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  background: linear-gradient(
      0deg,
      rgba(225, 31, 143, 0.4),
      rgba(225, 31, 143, 0.4)
    ),
    url(../images/Water\ drop-bro\ 1.png) rgba(55, 71, 79, 0.3);
  background-repeat: no-repeat;
  background-position: top center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.blood__type__desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-block-start: 347px;
}

.blood__type__desc span {
  color: var(--black-color);
  font-size: var(--fs20);
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
}

.blood__type__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 10px;
}

.blood__type__content span {
  font-size: var(--fs-14);
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1.4;
  text-align: left;
}

/* TABLET BLOOD TYPE */
@media (min-width: 37.5em) {
  .blood__type__section h2 {
    font-size: var(--fs20);
    letter-spacing: 4px;
  }

  .blood__type__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP BLOOD TYPE */
@media (min-width: 62.5em) {
  .blood__type__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .blood__type__card {
    width: fit-content;
  }
}
/* BLOOD TYPE SECTION ENDS HERE */
