/* ROLES SECTION STARTS HERE */
.roles__section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: var(--light-white-color);
  margin-block-start: 35px;
}

.roles__section h2 {
  color: var(--black-color);
  font-size: var(--fs-16);
  font-weight: bold;
  text-align: center;
}

.roles__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.role__wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.role__wrap span {
  color: var(--black-color);
  font-size: var(--fs20);
  font-weight: bold;
  letter-spacing: 2px;
  text-align: left;
}

.role__wrap p {
  color: var(--black-color);
  font-size: var(--fs-14);
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 3px;
  text-align: left;
}

.role__wrap__foot {
  margin-block-start: 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.role__wrap .role__wrap__foot__title {
  color: var(--black-color);
  font-size: var(--fs-14);
  font-weight: bold;
  text-align: center;
}

.role__wrap__foot div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.role__wrap__foot div span {
  color: var(--black-color);
  font-size: var(--fs-14);
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.7;
  text-align: left;
}

/* TABLET ROLES SECTION */
@media (min-width: 37.5em) {
  .roles__section h2,
  .role__wrap .role__wrap__foot__title {
    font-size: var(--fs-14);
  }

  .role__wrap p,
  .role__wrap__foot div span {
    font-size: var(--fs-14);
  }
}

/* DESKTOP ROLES SECTION */
@media (min-width: 62.5em) {
  .roles__section {
    margin-block-start: 60px;
  }

  .roles__section h2,
  .role__wrap .role__wrap__foot__title,
  .role__wrap span {
    font-size: var(--fs-16);
  }

  .role__wrap p,
  .role__wrap__foot div span {
    font-size: var(--fs-14);
    letter-spacing: 4px;
  }
}
/* ROLES SECTION ENDS HERE */

/* BLOOD TYPE SECTION STARTS HERE */
.blood__type__section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-block-start: 30px;
  margin-block-end: 30px;
}
.parent_card {
  /* margin: 10px 0px 40px 0px; */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
  width: 100%;
}

.singleCard {
  width: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.imgCard {
  background: linear-gradient(
      0deg,
      rgba(225, 31, 143, 0.4),
      rgba(225, 31, 143, 0.4)
    ),
    url(../images/Water\ drop-bro-sm2.png) rgba(55, 71, 79, 0.3);
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
  position: relative;
}

.content {
  padding: 277px 8px 20px 4px;
  display: flex;
  flex-direction: column;
}

.blood_type_title {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: var(--fs20);
  text-transform: capitalize;
}

ul {
  display: flex;
  flex-direction: column;
}

ul li {
  list-style: circle;
  padding-top: 8px;
}

/* TABLET BLOOD TYPE */
@media (min-width: 37.5em) {
  .parent_card {
    grid-template-columns: repeat(2, 1fr);
  }

  .singleCard {
    width: 338px;
  }
}

/* DESKTOP BLOOD TYPE */
@media (min-width: 62.5em) {
  .parent_card {
    grid-template-columns: repeat(4, 1fr);
  }

  .singleCard {
    width: 300px;
  }
}
/* BLOOD TYPE SECTION ENDS HERE */
